/* logo block */
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  @include fonts(700, 24px, 1.17, 0.03em);

  @media screen and(min-width:1200px) {
    @include fonts(null, 26px, 1.19, null);
  }
  &--dark {
    color: var(--logo-color);
  }

  &__text {
    color: var(--accent-color);
  }
  &__header {
    @media screen and(min-width: 768px) {
      margin-right: 93px;
    }
  }
}
// basement logo
.logo--light {
  color: var(--basement-logo-color);
}
