/* site-nav block */
.site-nav__list {
  gap: 50px;
  display: none;
  @media screen and(min-width:768px) {
    display: flex;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  @include fonts(500, $link-fs-main, $link-lh-main, $link-ls-main);
  padding: 32px 0;
  transition: color var(--transition-main);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
}
