/*----------BASEMENT------------*/
.basement {
  padding: 60px 0;
  background-color: var(--sec-bcg-color);
  @media screen and(max-width: 1199px) {
    text-align: center;
  }
  &__block {
    display: inline-block;
    max-width: 232px;
    @media screen and(max-width:1199px) {
      margin-bottom: 60px;
    }
  }
  &__logo {
    margin-bottom: 20px;
  }
}

// address block
.address {
  display: inline-block;
  @include fonts(null, $text-fs-main, $text-lh-main, $text-ls-main);
  color: var(--light-titles-color);
  &__basement {
    margin-bottom: 8px;
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  &__link {
    display: inline-block;
    @include fonts(null, $link-fs-main, $link-lh-sec, $link-ls-sec);
    color: var(--basement-contacts-color);
    transition: color var(--transition-main);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
