/*----------HERO-----------*/
.hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bcg-color);
  padding: 118px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mob2x.jpg);
  }
  @media screen and(min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tab2x.jpg);
    }
  }

  @media screen and(min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero2x.jpg);
    }
  }

  &__title {
    margin: 0 auto 30px;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-titles-color);
    @media screen and(min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

// hero button

.hero-btn {
  display: block;
  min-width: 221px;
  padding: 10px 24px;
  margin: 0 auto;
  font-family: inherit;
  transition: color var(--transition-main),
    background-color var(--transition-main);
  @media screen and(min-width: 1200px) {
    padding: 10px 32px;
  }
  &:hover,
  &:focus {
    background-color: var(--sec-bcg-btn-color);
    color: var(--first-font-btn-color);
  }
}
